{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="center">
        <div class="box-serralheria">
         <div class="serralheria-vitrine">
             {% for c in container %}
             <div class="box-itens">
                 <h3>{{ c.descricao }}</h3>
                 <div class="desc-item">
                     <img class="img-serra-itens" src="../media/{{ c.imagem }}" alt="">
                     <div class="serra-orcamento">
                         <span> Faça o seu orçamento</span>
                         <a href="https://api.whatsapp.com/send?phone=5569984088834&text=ola%20quero%20adiquirir%0D{{ c.descricao }}"><i class="fab fa-whatsapp iconlaranjas"></i></a>
                         <a href="tel:69984088834"><i class="icone-address fas fa-phone-volume iconlaranjas"></i></a>
                     </div>
                 </div>
             </div>
             {% endfor %}
         </div>
     </div>
</div>
{% endblock %}