{% load static %}

        <section class="prim_section">
            <div class="container_section_prim center">
                <div class="titulo">
                    <h1>CONTAINER/LOC</h1>
                </div><!-- ---- titulo ---- -->

                <div class="logo_section"><img src="{% static 'img/loginho.png' %}" alt=""></div>

                <h2>Empresa especializada em locação e venda de containeres</h2>

                <div class="box_imag">
                 <img class="cartao" src="{% static 'img/ultima-removebg.png' %}" alt="">
                </div><!-- ---- box_imag ---- -->

                <div class="box_boneco">
                    <img class="imagBoneco" src="{% static 'img/bonekinho.png' %}" alt="">
                </div><!-- ---- box_boneco ---- -->

            </div><!-- ---- container_section_prim ---- -->
        </section><!-- ---- prim_section ---- -->